<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 로그저장위치 및 이름 -->
	<targets>
		<target name="file" xsi:type="File" fileName="logs/app_${date:format=yyyyMMdd}.log"
			  layout="[${date}] [TID:${threadid}] [${level:uppercase=true}] ${message}" />
		<target name="console" xsi:type="ColoredConsole"
			  layout="[${date}] [TID:${threadid}] [${level:uppercase=true}] ${message}" />
	</targets>

	<!-- 어떤 로그를 쓸지 -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>