@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resume";
}

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>PARK KWANHO</h4>
                    <p><em>Junior Developer</em></p>
                    <ul>
                        <li>BUSAN</li>
                        <li>010-2310-6849</li>
                        <li>yujakinasakoon@gmail.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Development</h4>
                    <h5>2024.03 - 2024.08</h5>
                    <p><em>SSG INC, BUSAN</em></p>
                    <p>Java, SpringBoot, Javascript, React, SQL Education</p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>IoT Development</h4>
                    <h5>2025.02 - 2025.09</h5>
                    <p><em>PUKYONG NATIONAL UNIVERSITY, BUSAN</em></p>
                    <p>C/C++, C#, Python, SQL, IoT Education</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Certifications</h3>
                <div class="resume-item">
                    <h4>Engineer Information Processing</h4>
                    @* <h5>2024 - HRDK</h5> *@
                    <p><em>2024.12 - HRDK </em></p>
                    <ul>
                        <li>Lead in the design, development, and implementation of software solutions and database management systems</li>
                        <li>Delegate tasks to the team members and provide guidance on software architecture, coding standards, and system optimization</li>
                        <li>Supervise the assessment of software applications to ensure functionality, security, and efficiency</li>
                        <li>Oversee the efficient use of IT project budgets, ensuring cost-effective and high-quality system implementation</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Graphic design specialist</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Stepping Stone Advertising, New York, NY</em></p>
                    <ul>
                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                        <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                        <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
